h1 a { color : #FCA205;
    font-size : 50px;
     font-family: 'Lobster';
     }

body {
   text-align : center;
   padding-left: 15px;
}

.top-menu{
    color : #FCA205;
    font-size : 20px;
}

.page-title{
    font-size : 100px;
}

.post{
    color : red;
    font-size : 10px;
}
.alter_post{
   text-align : right;
}