{% load static %}
<html>
    <head>
        <title>Django_Blog</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <div class="page-header">
        <h1 class = "page-title">My_Blog</h1>
        <a class = "top-menu" href="{% url 'blogapp:post_list' %}" >홈</a>
        {% if user.is_active %}<a class = "top-menu" href="{% url 'logout' %}" >로그아웃</a>
        {% else %}<a class = "top-menu" href="{% url 'login' %}" >로그인</a>{% endif %}
        {% if user.is_active %}
            <a class = "top-menu" href="{% url 'blogapp:post_new' %}" >글 쓰기</a>
            <a class = "top-menu" href="{% url 'blogapp:post_management' %}" >글 관리</a>
        {% endif %}
    </div>
    {% block content %}

    {% endblock %}
    </body>
</html>